@{
    ViewBag.Title = "Universitetsbiblioteket";
}



<div>
    <h1>Admin</h1>
</div>

<div class="menuBtn">   
    @using (Html.BeginForm("Admin", "Library", FormMethod.Get))
    {
        <input type="submit" name="Admin" value="Author Adminpage" style="width:100px"/>
    }
</div>

<div class="menuBtn">
    @using (Html.BeginForm("Admin", "Library", FormMethod.Get))
    {
        <input type="submit" name="Admin" value="Book Adminpage" style="width:100px"/>
    }
</div>

<div class="menuBtn">   
    @using (Html.BeginForm("Admin", "Library", FormMethod.Get))
    {
        <input type="submit" name="Admin" value="Borrower Adminpage" style="width:100px"/>
    }
</div>