@{
    ViewBag.Title = "Universitetsbiblioteket";
}



<div style="text-align:center">

    <h1>UniversitetsBiblioteket</h1>

    <div>
        @using (Html.BeginForm("Login", "Library", FormMethod.Get))
        {
            <input type="submit" value="Login here" style="width:100px"/>
        }

        @using (Html.BeginForm("Browse", "Library", FormMethod.Get))
        {
            <input type="submit" value="Browse" style="width:100px"/>
        }
    </div>

    <div>
        @using (Html.BeginForm("Search", "Library", FormMethod.Get))
        {
            <input type="text" name="query" placeholder="Sök på titel eller författare" style="width:200px" />
            <input type="submit" value="Sök" />
        }
    </div>

</div>