@{
    ViewBag.Title = "Universitetsbiblioteket";
}

<div id="indexBody">
    <div id="all">

        <h1>UniversitetsBiblioteket</h1>

        <div id="menuHolder">
            <div>
                
                <a href="~/Library/Browse"><div class="menuBtn">Browse</div></a>
            
                <a href="~/Library/Login"><div class="menuBtn">Login</div></a>
            
            </div>

            <div>
                <div class="menuSearchBar">
                    @using (Html.BeginForm("Search", "Library", FormMethod.Get))
                    {
                        <input type="text" name="query" placeholder="Search on titel or author" style="width:200px" />
                        <input type="submit" value="Search" />
                    }
                </div>
            </div>
        </div>

        <div id="content">
        
        </div>
    

    </div>
</div>
