@{
    ViewBag.Title = "Universitetsbiblioteket";
}


@using (Html.BeginForm("Search", "Library", FormMethod.Get))
{
    <div style="margin-left:20px; margin-right:200px;">
        <h1>Sök</h1>
        <input type="text" name="query" placeholder="Search on titel or author" style="width:200px" />
        <input type="submit" value="Search" />
    </div>
    
    <div style="border:solid 5px red; float:left">
        <p style="">http://a3.mndcdn.com/image/upload/a1bt1p1w0uvpjp8qozv5.jpg</p>
        <p style="">a</p>
        <p style="">a</p>
        <p style="">d</p>
        <p style="">e</p>
        <p style="">f</p>
        <p style="">g</p>
    </div>
}