@{
    ViewBag.Title = "Universitetsbiblioteket";
}

<div id="indexBody">
    <div id="all">

        <h1>UniversitetsBiblioteket</h1>

        <div id="menuHolder">
            <div>
                <!---
                <div class="menuBtn">   
                    using (Html.BeginForm("Browse", "Library", FormMethod.Get))
                    {
                        <input type="submit" value="Browse" style="width:100px"/>
                    
                        
                    }
                </div>
                    --->

                <!--
                <div class="menuBtn">
                    using (Html.BeginForm("Login", "Library", FormMethod.Get))
                    {
                        <input type="submit" value="Login here" style="width:100px"/>
                       
                    }
                </div>
                    --->

                
                <a href="~/Library/Browse"><div class="menuBtn">Browse</div></a>
            
                <a href="~/Library/Login"><div class="menuBtn">Login</div></a>
            
            </div>

            <div>
                <div class="menuSearchBar">
                    @using (Html.BeginForm("Search", "Library", FormMethod.Get))
                    {
                        <input type="text" name="query" placeholder="Search on titel or author" style="width:200px" />
                        <input type="submit" value="Search" />
                    }
                </div>  
            </div>
        </div>

        @ViewBag.SearchBook
        <!--
        <div id="bookList" style="background-color:#7CA4FC; margin: 10px 0px 0px 20px">

            <div style="float:left; width:230px; background-color:#7CA4FC">
                <table id="bookTable" style="border: 1px solid black">
                    <tr id="Book1">
                        <th style="border: 1px solid black">Name</th>
                        <th style="border: 1px solid black">Author</th>
                        <th style="border: 1px solid black">ISBN</th>
                    </tr>

                    <tr id="Book2">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book3">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book4">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book5">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book6">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book7">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr id="Book8">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr  id="Book9">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>

                    <tr  id="Book10">
                        <th style="border: 1px solid black">Festa</th>
                        <th style="border: 1px solid black">Jane Nilsson</th>
                        <th style="border: 1px solid black">19 331 193 83</th>
                    </tr>
                </table>

                <div>
                    <div class="menuBtn"> <img src="http://i.imgur.com/hcM8RmI.png" style="width:40px"/></div>
                    <div class="menuBtn" style="float:right"> <img src="http://i.imgur.com/YLOkbxh.png" style="width:40px"/> </div>
                </div>
            </div>

            <div id="bookDetails" style="float:left; border: 1px solid black; margin:0px 0px 0px 70px; background-color:#7CA4FC; width:600px">
                <h1>hej</h1>
            </div>
        </div>
            --->
        
    

    </div>
</div>
