#indexBody {
    text-align:center;
}

#all {
    height:500px;
    margin:10px 20% 20%;
}

#menuHolder {
    margin-top:50px;
    height:25px;
    background-color:#7CA4FC;
    border:1px solid #7CA4FC;
}

.menuBtn {
    float:left;
    width:100px;
    text-align:center;
    color:black;
    height:auto;
    text-decoration:none;
    border:1px solid #7CA4FC;
    height:23px;
}

.menuBtn:hover {
    background-color:white;
    border:1px solid white;
}

.menuSearchBar {
    float:right;
}

.loginBtn {
    height:50px;
    width:100px;
}

#content {
    height:300px;
}



#loginContent {
    border:1px solid black;
    margin:150px 35% 300px 35%;
    text-align:center;
    height:300px;
}

#loginInfoContent {
    margin-top:50px;
}
