#indexBody {
    text-align:center;
}

#all {
    height:500px;
    border:1px solid green;
    margin:10px 20% 20%;
}

#menuHolder {
    margin-top:50px;
    border:1px solid black;
    height:25px;
}

.menuBtn {
    float:left;
}

.menuSearchBar {
    float:right;
}

.loginBtn {
    height:50px;
    width:100px;
}

#content {
    border:1px solid red;
    height:300px;
}